In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('raw_data.csv', index_col=0)

df.head()

,Title,Shop_Name,Is_Ad,Star_Rating,Num_Reviews,Price,Is_Bestseller,Num_Sales,Num_Basket,Description,Days_to_Arrival,Cost_Delivery,Returns_Accepted,Dispatched_From,Num_Images,Category
0,"Happy birthday card, Bird birthday card, Natur...",279,1,5,"2,391",4.99,1.0,"14,319",20,Each piece at Chau Art is originally hand desi...,3.0,0.99,1,United Kingdom,1,birthday card
1,"Carousel Happy Birthday Card, Handmade Laser C...",1689,1,5,"1,728",5.99,1.0,"15,066",0,POSTAGE: UK - From 5 Sept 2020 all orders will...,6.0,2.95,1,United Kingdom,1,birthday card
2,FLOWER BIRTHDAY CARD | Birthday Card for Her |...,348,1,5,97,2.30,1.0,"1,041",20,Flower birthday card featuring a pink orchid o...,6.0,1.00,0,United Kingdom,3,birthday card
3,"Personalized Leather Card Holder, Black red bl...",991,1,4.5,"1,345",25.19,1.0,"11,375",20,▲ Croc embossed Genuine Leather Personalised C...,4.0,3.99,0,United Kingdom,10,birthday card
4,"Among Us Birthday Card - It's Your Birthday, S...",1982,1,5,24,2.95,1.0,843,20,"Among Us Birthday Card - Its Your Birthday, Se...",4.0,1.00,1,United Kingdom,8,birthday card

## Data Exploration Roadmap

* drop category column 


* Describe data - will get numeric values 
* df.shape 
* value_counts 
* check out NaNs
* group by shop names to see unique shops 


* bar graph for is_ad
* bar graph for star_rating -> bucket star count 
* bar graph for is_bestseller
* bar graph for numbasket
* bar graph for returns accepted 


* Histogram of num reviews
* Histogram of price 
* Histogram of num sales 
* Histogram days to arrival 
* Histogram of delivery cost 
* Histogram for num images 


* value_counts for delivery country 

* description/ title feature engineering?