# Price Etsymator: Exploratory Data Analysis

In this exploration we've made some interesting observations about our dataset, did some cleanup, and have a good sense of the next steps for our exploration. To do this we took the following steps:

* Got rid of the 'category' and 'dispatched_from' columns
* Edited our columns so they're the correct data types 
* Dropped NaN records for price
* Ensured we got rid of records that weren't meeting certain value parameters (i.e. negative delivery time)
* Explored our 'Star_Rating' column to confirm the NaNs were warranted
* Explored the features of top sellers
* Graphed relationships between variables
* Created a correlation heatmap to see the relationship between price and our numeric variables

In the `02_Feature_Engineering` notebook, we'll work through the following steps:

* Do a bit more data-cleaning, including eliminating the 1* rated listings that are throwing off our info
* Get a sense of the trends we've seen here on a shop-level rather than a listing-level. 
* Create a 'total revenue' feature for each shop (take the price * the number of sales) 
    * We'll explore this new feature by looking at how the mean numeric features vary between the highest revenue earners and the average revenue earners.
* Create a 'total price' column which is a combination of price and cost_delivery - we'll get a sense of whether there are any trends here, though ultimately may not make sure of it.
* Create new features from our object data (title and description) - we'll determine the right keywords to mine for and create those columns 
* Create two dataframes to account for the different ways we can approach the star_rating NaNs - in one we'll impute the NaNs with zeroes, and in the other we'll drop the records that are NaNs.

In [1]:
#import all packages 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import missingno as msno
import re
from matplotlib.pyplot import figure

In [2]:
#read in our raw data and print out the head

df = pd.read_csv('feature_engineering.csv', index_col=0)

df.head()

,Title,Shop_Name,Is_Ad,Star_Rating,Num_Reviews,Price,Is_Bestseller,Num_Sales,Num_Basket,Description,Days_to_Arrival,Cost_Delivery,Returns_Accepted,Num_Images
0,"Happy birthday card, Bird birthday card, Natur...",279,1,5.0,2391,4.99,1.0,14319,20,Each piece at Chau Art is originally hand desi...,3.0,0.99,1,1
1,"Carousel Happy Birthday Card, Handmade Laser C...",1689,1,5.0,1728,5.99,1.0,15066,0,POSTAGE: UK - From 5 Sept 2020 all orders will...,6.0,2.95,1,1
2,FLOWER BIRTHDAY CARD | Birthday Card for Her |...,348,1,5.0,97,2.30,1.0,1041,20,Flower birthday card featuring a pink orchid o...,6.0,1.00,0,3
3,"Personalized Leather Card Holder, Black red bl...",991,1,4.5,1345,25.19,1.0,11375,20,▲ Croc embossed Genuine Leather Personalised C...,4.0,3.99,0,10
4,"Among Us Birthday Card - It's Your Birthday, S...",1982,1,5.0,24,2.95,1.0,843,20,"Among Us Birthday Card - Its Your Birthday, Se...",4.0,1.00,1,8

In [3]:
df['Star_Rating'].value_counts()

5.0    11087
4.5      215
4.0       11
3.5        3
1.0        1
Name: Star_Rating, dtype: int64

In [4]:
df= df[df['Star_Rating'] > 3.5]

In [5]:
df['Star_Rating'].value_counts()

5.0    11087
4.5      215
4.0       11
Name: Star_Rating, dtype: int64